/* icon block */


/* .checkStatus {
    width: 16px;
    height: auto;
} */

/* .icon__link--about {
    display: flex;
    align-items: center;
}

.icon__text--about {
    white-space: nowrap;
    font-family: var(--text-Medium);
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-black);
    margin-right: 20PX;
} */

@media (min-width: 320px) {
    
}

@media (min-width: 768px) {
    
    
}

@media (min-width: 1120px) {
   
}