



/* btn circle */

.btn__circle {
   border: 2px solid var(--color-Pink);
   background-color: white;
}

.btn__img{
    width: 7px;
    height: 12px;
    background-size: 100% 100%;
    background-position: center center; 
 

}
.btn__img--arrowPink{
    background-image: url("../../image/icon/arrowPink.png");
}