
/* .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    
} */

/* .circle--pink{
   background: var(--color-Pink);
}
.btn__circle--bg-size{
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
 }
 
.btn__circle--call{  
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center; 
   background-image: url("../../image/icon/call.png");
}

.circle--message{  
   background-image: url("../../image/icon/message.png");
}

.circle--people{  
   background-image: url("../../image/icon/people.png");
}

.circle--repair{  
   background-image: url("../../image/icon/repair.png");
}

.circle--checkStatus{  
   background-image: url("../../image/icon/checkStatus.png");
} */
