/* arrow-link */
.arrow-link {
    margin-bottom: 20px;
}

.arrow-link__link{
    display: flex;
    margin-left: 10px;
}

.arrow-link__image{
    width: auto;
    height: 15px;
    margin-right: 20px;
}

.arrow-link__text {
    font-family: var(--text-regular);
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-black);

}